@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 10px;
}

h2{
    font-size: 4rem;
    text-align: center;
    margin: 50px 0;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
}

.grid{
    height: 800px;
    border: 3px solid black;
    gap: 10px;
    display: grid;
    /*grid-template-columns: 100px 200px 300px;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-columns: repeat(4,25%);*/
    grid-template-columns: repeat(4,1fr);
    /*esto es igual a: repeat(1fr 1fr 1fr);
    grid-template-rows: 200px 500px;
    grid-template-rows: repeat(3,200px)*/
    grid-template-rows:repeat(4,1fr);
}

.grid_item{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px;
    width: 150px;
    height: 150px;*/
    
}

.grid_item:nth-of-type(1){
    background-color: dodgerblue;
    grid-column: 1/-1;
    /*esto es igual a poner=
    grid-column star: 1;
    grid-column end: -1;*/
    /*grid-column: 1/4;
    grid-row: 1/3;*/
}

.grid_item:nth-of-type(2){
    background-color: rgb(69, 170, 38);
    grid-column: 1/3;
}

.grid_item:nth-of-type(3){
    background-color: hsl(302, 90%, 12%);
    grid-column: 3/5;
}

.grid_item:nth-of-type(4){
    background-color: #d13777;
    grid-column: 1/3;
    grid-row: 3/5;
}

.grid_item:nth-of-type(5){
    background-color: #505253;
    grid-column: 3/5;
    grid-row: 3/5
}

/*--------------------------*/


.grid_item-2{
    font-size: 3rem;
    color: white;
}

.grid_item-2:nth-of-type(1){
    background-color: #0000ff;
    grid-column: span 4;
}

.grid_item-2:nth-of-type(2){
    background-color: hsl(320, 53%, 14%);
    grid-row: span 3;
}

.grid_item-2:nth-of-type(3){
    background-color: #71ee85;
    grid-column: span 2;
}

.grid_item-2:nth-of-type(4){
    background-color: #ff00d4;
    grid-row: span 3;
}

.grid_item-2:nth-of-type(5){
    background-color: rgb(80, 5, 80);
    grid-column: span 2;
    grid-row: span 2;
}

/*------------------------------*/

.grid-area{
    height: 800px;
    display: grid;
    border: 3px solid black;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
        "uno uno uno uno"
        "dos dos tres tres"
        "dos dos tres tres"
        "cuatro cuatro cinco cinco";
        /*puedes poner puntos para dejar espacio
        "dos dos tres ."*/
}    

.grid_item-3{
    font-size: 3rem;
    color: white;
    display: grid;
    place-content: center;
}

.grid_item-3:nth-of-type(1){
    background-color: #0000ff;
    grid-area: uno;
    
}

.grid_item-3:nth-of-type(2){
    background-color: hsl(320, 53%, 14%);
    grid-area: dos;
}

.grid_item-3:nth-of-type(3){
    background-color: #71ee85;
    grid-area: tres;
    
}

.grid_item-3:nth-of-type(4){
    background-color: #ff00d4;
    grid-area: cuatro;
   
}

.grid_item-3:nth-of-type(5){
    background-color: rgb(80, 5, 80);
    grid-area: cinco;
}

@media screen and (max-width:600px) {
    .grid-area{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    grid-template-areas: 
        "uno uno uno"
        "dos dos tres"
        "cuatro cuatro cuatro"
        "cinco cinco cinco";
    }
  
}